.four-O-four-image {
  width: 50%;
  display: block;
  margin: 60px auto;
}

.four-O-four-msg {
  text-align: center;
  text-transform: capitalize;
  color: #383838;
}

.four-O-four-msg a{
  color: #383838;
}