* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100px; */
  background: #cecece;
  z-index: 9;
}
